h1 + p::first-letter {
		font-size: 300%;
		line-height: 1;
		float: left;
		padding-right: .125em;
}
@-moz-document url-prefix() {
		h1 + p::first-letter {
				margin-top: .15em;
		}
}
*,*:focus,*:hover{
		outline:none;
}
html {
		scroll-behavior: smooth;
}
:target:before {
		content: "";
		display: block;
		height: 1ex;
		margin: -1ex 0 0;
}
a:target:before {
		display: inline;
}
body {
		background-image: url('images/stardust.svg');
		background-attachment: fixed;
		background-color: #222222;
		color: #EEEEDD;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		text-align: justify;
		text-rendering: optimizeLegibility;
		margin: auto;
		width: 95%;
}
@media only screen and (min-width: 800px) {
		body {
				max-width: 800px;
		}
}
a {
		color: #EEEE11;
		text-decoration: inherit;
}
h1 a, h2 a, h3 a, h4 a {
		color: inherit;
}
:target {
		text-shadow: 1px 1px 10px #EEEE11;
		animation-name: blink;
		animation-direction: normal;
		animation-duration: 0.8s;
		animation-iteration-count: 2;
		animation-timing-function: ease-out;
}
@keyframes blink {
		0% { opacity: 0.2; }
		100% { opacity: 1; }
}
h1, h2, h3, h4 {
		font-family: Georgia, serif;
		color: #EEEE99;
		margin-top: 1.3em;
}
.click-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, 6em);
		grid-auto-rows: 1fr;
		grid-gap: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
}
.click-grid > a {
		font-family: sans-serif;
		font-size: 0.9em;
		border: 2px solid black;
		border-radius: 10px;
		background-color: #111111;
		text-align: center;
		hyphens: none;
		text-decoration: none;
		padding: 10px;
		display: inline-block;
		transition: background-color 200ms;
		transition-timing-function: ease-in-out;
		filter: drop-shadow(3px 3px 5px rgba(0,0,0,0.7));
}
.click-grid > a:hover {
		background-color: #333333;
		transition: filter 300ms linear;
		filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.4));		
}
.headline {
		font-family: Georgia, serif;
		margin-bottom: 0;
}
.subhead {
		font-family: Georgia, serif;
		color: #EEEEAA;
		font-style: italic;
		margin: .3em 0 .3em;
}
p {
		font-family: "Source Sans Pro", sans;
		line-height: 1.5;
		font-size: 18px;
}
