body {
		background: #222222;
		color: #EEEEEE;
}
a {
		color: #EEEE11;
}
li {
		padding: 0.3ex;
}
h1, h2, h3, li {
		font-family: Sans-Serif;
}
.click-btn {
		border: 1px solid black;
		border-radius: 15px;
		background-color: #333333;
		padding: 10px;
		margin: 5px;
		display: inline-block;
}
