body {
		background: #222222;
		color: #EEEEEE;
}
a {
		color: #EEEE11;
}
li {
		padding: 0.3ex;
}
h1, h2, h3 {
		font-family: Garamond;
		color: #EEEE99;
}
.click-btn {
		border: 1px solid black;
		border-radius: 15px;
		background-color: #333333;
		padding: 10px;
		margin: 5px;
		display: inline-block;
}
.headline {
		margin-bottom: 0; 
}
.subhead {
		color: #EEEEAA;
		font-style: italic;
		margin: .5em 0 .5em;
}
