Wilkie_Goldentongue_-_Nature_of_Being.sh
Wilkie_Goldentongue_-_Nature_of_Being.stderr
chapters.tex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.xdy
*.bib.bak
*.synctex.gz
*.synctex.gz(busy)
*.gin
/*.pdf
\#*#
\.#*
/auto
.minted_cache
_minted*
*~
*.pdf_tex
*.bcf
*.run.xml
*eps-converted-to.pdf
*.nav
*.snm
*.xmpi
*.xmpdata
*.4ct
*.4tc
*.css
*.html
*.idv
*.lg
*.out.ps
*.tmp
*.xref
*-epub
*-epub3
*-mobi
*-azw
*-azw3
*.epub
*.ncx
content.opf
